PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=https://sepolia.g.alchemy.com/v2/xxxx
BASE_SEPOLIA_RPC_URL=https://base-sepolia.g.alchemy.com/v2/xxxx

TREASURY=

SEPOLIA_USDC=
SEPOLIA_AUSDC=
SEPOLIA_AAVE_POOL=

BASE_SEPOLIA_USDC=
BASE_SEPOLIA_AUSDC=
BASE_SEPOLIA_AAVE_POOL=

FEE_RATE_BPS=500